<div class="modal-body row pt-15">
    <div class="col-md-3 p-0 b-0">
    </div>

    <div class="col-md-6 p-0 b-0">
      <%= form_with(model: event, local: true, html: {class: "form-group mb-2"}) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.datetime_field :start_date, autocomplete: "start_date", class: "form-control" %>
        <%= form.number_field :duration, autocomplete: "duration", class: "form-control", placeholder: "Duration" %>
        <%= form.text_field :title, autocomplete: "title", class: "form-control", placeholder: "Title" %>
        <%= form.text_area :description, autocomplete: "description", class: "form-control", placeholder: "Description", rows: 5 %>
        <%= form.number_field :price, autocomplete: "price", class: "form-control", placeholder: "Price" %>
        <%= form.text_field :location, autocomplete: "location", class: "form-control", placeholder: "Location" %>
        <% if current_page?(controller: 'events', action: 'new') %>
          <%= form.submit "Create your event", class: "btn btn-lg btn-primary btn-block" %>
        <% else %>
          <%= form.submit "Update this event", class: "btn btn-lg btn-primary btn-block" %>
        <% end %>
      <% end %>
  </div>

  <div class="col-md-3 p-0 b-0">
  </div>
</div>